html {
    height: 100%;
    width: 100%;
  }
  h1{
  color: black;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    text-align: center;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    width: AUTO;
    font-size: 6rem;
    margin-bottom: 10vh
  }
  
  h2{
   color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-align: left;
    flex-direction: wrap;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    padding-left: 10px;
  }
  h3{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-align: right;
    flex-direction: wrap;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    padding-right: 10px;
    
  }
  .texte2{
    
    text-align: right;
    flex-direction: wrap;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    padding-left: 10px;
  }
  .texte3{
      display: flex;
      justify-content: center;
      gap: 120px;
  
  }
  main{
background-image: url(assets/hellfestlogo.jpg1.jpg);
background-size: cover;
}

  .image{
      display: flex;
      justify-content: center;
      gap: 100px;
  
  }
  .image1{
    display: flex;
    justify-content: center;
    gap: 100px;

}
  header{
  background-image: url(assets/metalimage1.jpeg);
  }
  button{
    color: black;
  background-color: beige;}
  .grid :hover{
  background-image: url(assets/metalimage1.jpeg);

  }
  footer{
    display: flex;
      justify-content: center;
      gap: 120px;
  background-color: crimson;}