html {
    height: 100%;
    width: 100%;
  }
 
  h1{
  color: black;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    text-align: center;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    width: AUTO;
    font-size: 6rem;
    margin-bottom: 10vh
  }
  
  h2{
   color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-align: left;
    flex-direction: wrap;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    padding-left: 10px;
  }

  h3{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-align: right;
    flex-direction: wrap;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    padding-right: 10px;
    
  }

  h5{
  color: white;
  -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    margin-block: 20px;
    

  }

  p{
  padding-left: 10px;
  padding-right: 10px;
 
}


  .texte2{
    
    text-align: right;
    flex-direction: wrap;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    padding-left: 10px;
  }

  .texte3{
      display: flex;
      justify-content: center;
      gap: 120px;
  
  }

 
  .parti1{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 2%, rgba(84,82,82,1) 20%, rgba(0,0,0,1) 85%);
  }
.parti2{
background-color: #000000;}

  .parti3 {
background-image: url(assets/hellfestlogo.jpg1.jpg);
background-size: cover;
}
.texte5{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 31%, rgba(255,0,0,1) 70%, rgba(255,78,0,1) 90%);
}


header{
  background-image: url(assets/metalimage1.jpeg);
  }

  body{
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 31%, rgba(255,0,0,1) 70%, rgba(255,78,0,1) 90%);
  }

  footer{
    display: flex;
      justify-content: center;
      gap: 120px;
  background-image: url(assets/metalfeu.jpeg); 
  background-size: cover;
}

  .image{
      display: flex;
      justify-content: center;
      gap: 100px;
  }

  .image1{
    display: flex;
    justify-content: center;
    gap: 100px;
}
 
  button{
    color: black;
  background-color: beige;
}

  .grid :hover{
  background-image: url(assets/metalimage1.jpeg);

  }
  
  